[Desktop Entry]
Name=Arc OSX Green Transparent
X-KDE-PluginInfo-Author=Luisg1
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=luiskrcarlos@hotmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=Attribution-ShareAlike 4.0 International
X-KDE-PluginInfo-Name=Arc-OSX-Green-Transparent
X-KDE-PluginInfo-Version=1.0

# Based on Arc-OSX-aurorae https://www.opendesktop.org/p/1229260/
